
# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/
ENV/
env.bak/
env/

# VS Code
.vscode/

# Output
*.csv
*.zip
*.bak
.DS_Store
